// .addresses {
//     width: 232px;
// }

.address__item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  @include computer {
    text-align: left;
  }
}

%address-item-common {
  transition: color $animation-time;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__mail,
.address__tel {
  @extend %address-item-common;

  color: rgba(255, 255, 255, 0.6);
}

.address__google-map {
  @extend %address-item-common;

  color: #ffffff;
}
