.header {
  border-bottom: 1px solid #ececec;
}

.header > .container {
  display: flex;
  align-items: center;
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: auto;
}

.menu-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;

  &_icon-close {
    display: none;
  }

  &.is-open .menu-button_icon-close {
    display: block;
  }

  &.is-open .menu-button_icon-open {
    display: none;
  }
}

.auth {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    column-gap: 50px;
  }
}

.auth__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $text-color;
  transition: color $animation-time;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.auth__icon {
  margin-right: 10px;
  fill: currentColor;
}
