.logo {
  display: inline-block;

  font-family: 'Raleway';
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  &--black {
    color: #000;
  }

  &--white {
    color: #ffffff;
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__span {
  color: $accent-color;
}
